// import { useEffect } from "react";
// import { uniqBy } from "lodash";
import { IChain as Chain } from "../models/chain";
import React from "react";

// const mergeChainSets = (c1: Chain[], c2: Chain[]) => uniqBy(c1.concat(c2), "name");

export default function() {
  const [chains, setChains] = React.useState<Chain[]>([
    {
      name: "Nova Network",
      network: "Mainnet",
      rpc: ["https://rpc.novanetwork.io:9070/"],
    },
    {
      name: "Nebula Testnet",
      network: "Testnet",
      rpc: ["https://testnet.rpc.novanetwork.io:9070/"],
    },
  ]);

  return [chains, setChains];
}
